.introimage {
    background: url("/images/greener-grass-1180309-1920x1440.jpg");
    background-repeat: no-repeat;
}

.freetext {
    color: white;
}

h1, h2, h3 {
    color: #BD1522;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}
